<html lang="en">
	<head>
		<title>post</title>
       
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
                <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:100%">
				<h1>Side Bar</h1>
				<ul>
					<li class="active"><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					<li><a href="{{url_for('update')}}">Update</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
                    <li><a href="{{url_for('post')}}">Post</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!!  </h2>						
				</div></br></br>
				<div class="contentbar">
					
				</div>
				
			</div>
		</div>
	</body>
<div class post>
    <div style="margin-left:20%">
<h1>Introduction to Computer Program</h1>
<br></br>
<h2> let us first understand computer programs and what they do.

 A computer program is a sequence of instructions written using a Computer Programming Language to perform a specified task by the computer.
 
 The two important terms that we have used in the above definition are −
 
 Sequence of instructions<br></br>
 Computer Programming Language</h2>
 <br></br>
 <p>Now, let's go back and try to understand a computer program, which is a sequence of instructions written in a Computer Language to perform a specified task by the computer. Following is a simple program written in Python programming Language −

     print "Hello, World!"
     <br></br>
     The above computer program instructs the computer to print "Hello, World!" on the computer screen.
     <br></br>
     A computer program is also called a computer software, which can range from two lines to millions of lines of instructions.
     
     Computer program instructions are also called program source code and computer programming is also called program coding.
     
     A computer without a computer program is just a dump box; it is programs that make computers active.
     
     As we have developed so many languages to communicate among ourselves, computer scientists have developed several computer-programming languages to provide instructions to the computer (i.e., to write computer programs). We will see several computer programming languages in the subsequent chapters.
     
     Introduction to Computer Programming
     If you understood what a computer program is, then we will say: the act of writing computer programs is called computer programming.
     
     As we mentioned earlier, there are hundreds of programming languages, which can be used to write computer programs and following are a few of them −
     
     <br></br>
     1.Java<br></br>
     2.C<br></br>
     3.C++<br></br>
     4.Python<br></br>
     5.PHP<br></br>
     6.Perl<br></br>
     7.Ruby<br></br>

     <br></br>
     Uses of Computer Programs
     Today computer programs are being used in almost every field, household, agriculture, medical, entertainment, defense, communication, etc. Listed below are a few applications of computer programs −
     <br></br>
     MS Word, MS Excel, Adobe Photoshop, Internet Explorer, Chrome, etc., are examples of computer programs.
     <br></br>
     Computer programs are being used to develop graphics and special effects in movie making.
     <br></br>
     Computer programs are being used to perform Ultrasounds, X-Rays, and other medical examinations.
     <br></br>
     Computer programs are being used in our mobile phones for SMS, Chat, and voice communication.
     <br></br>
     Computer Programmer
     Someone who can write computer programs or in other words, someone who can do computer programming is called a Computer Programmer.
     <br></br>
     Based on computer programming language expertise, we can name a computer programmers as follows −
     <br></br>

     1.C Programmer<br></br>
     2.C++ Programmer<br></br>
     3.Java Programmer<br></br>
     4.Python Programmer<br></br>
     5.PHP Programmer<br></br>
     6.Perl Programmer<br></br>
     7.Ruby Programmer<br></br>
     8.Algorithm<br></br>

     <br></br>
     
     From programming point of view, an algorithm is a step-by-step procedure to resolve any problem. An algorithm is an effective method expressed as a finite set of well-defined instructions.
     <br></br>
     Thus, a computer programmer lists down all the steps required to resolve a problem before writing the actual code. Following is a simple example of an algorithm to find out the largest number from a given list of numbers −
 
     <br></br>
     1. Get a list of numbers L1, L2, L3....LN<br></br>
     2. Assume L1 is the largest, Largest = L1<br></br>
     3. Take next number Li from the list and do the following<br></br>
     4. If Largest is less than Li<br></br>
     5. Largest = Li<br></br>
     6. If Li is last number from the list then<br></br>
     7. Print value stored in Largest and come out<br></br>
     8. Else repeat same process starting from step 3<br></br>
     <br></br>
     The above algorithm has been written in a crude way to help beginners understand the concept. You will come across more standardized ways of writing computer algorithms as you move on to advanced levels of computer programming.</p>
 
</body>
</html>
<p2>We assume you are well aware of English Language, which is a well-known Human Interface Language. English has a predefined grammar, which needs to be followed to write English statements in a correct way. Likewise, most of the Human Interface Languages (Hindi, English, Spanish, French, etc.) are made of several elements like verbs, nouns, adjectives, adverbs, propositions, and conjunctions, etc.

 Similar to Human Interface Languages, Computer Programming Languages are also made of several elements. We will take you through the basics of those elements and make you comfortable to use them in various programming languages. These basic elements include −
 
 
 1.Basic Syntax<br></br>
 2.Data Types<br></br>
 3.Variables<br></br>
 4.Keywords<br></br>
 5.Basic Operators<br></br>
 6.Decision Making<br></br>
 7.Loops<br></br>
 8.Numbers<br></br>
 9.Characters<br></br>
 10.Arrays<br></br>
 11.Strings<br></br>
 12.Functions<br></br>
 13.File I/O<br></br>
 14.Programming Environment<br></br>


 We will explain all these elements in subsequent chapters with examples using different programming languages. First, we will try to understand the meaning of all these terms in general and then, we will see how these terms can be used in different programming languages.
 
 This tutorial has been designed to give you an idea about the following most popular programming languages −
 
 C Programming
 Java Programming
 Python Programming
 A major part of the tutorial has been explained by taking C as programming language and then we have shown how similar concepts work in Java and Python. So after completion of this tutorial, you will be quite familiar with these popular programming languages.</p2>

<section id="app">
 <div class="container">
   <div class="row">
     <div class="col-8">
       <div class="comment">
     <p v-for="items in item" v-text="items"></p>
       </div><!--End Comment-->
       </div><!--End col -->
       </div><!-- End row -->
   <div class="row">
     <div class="col-8">
   <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
       <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
     </div><!-- End col -->
   </div><!--End Row -->
 </div><!--End Container -->
</section><!-- end App -->
</div class post>


</html>
